
body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	background-color: #fff;
}

h1 {
	margin: 12% auto;
	color: #b3d1d3;
}

#load {
	display: none;
}

a {
	text-decoration: none;
	border-bottom: 3px solid #888;
	padding: 12px 16px;
	font-size: 20px;
	color: #fff;
	background-color: #b3d1d3;
	transition: background-color 1s, border-bottom 1s, border-radius 0.5s;
}

a:hover {
	background-color: #bf8799;
	border-bottom: 3px solid #444;
	border-radius: 5px;
}

#progressDiv {
    position: relative;
    width: 80%;
    height: 30px;
    background-color: #fbd9d1;
    display: none;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 5px;
}

#pBar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #b3d1d3;
    display: none;
    border-radius: 5px;
}

#message {
	display: none;
	font-family: 'Harmattan', sans-serif;
	font-size: 80px;
	font-weight: lighter;
	color: #fff;
}